h1 {
  color: green;
  /* color: #ffffff; */
  /* color: rgb(0, 255, 255); */
  text-decoration: underline;
  text-transform: uppercase;
}

p {
  color: lightskyblue;
  text-align: justify;
  text-indent: 20px;
  text-transform: capitalize;
  letter-spacing: 2px;
  word-spacing: 5px;
}

a {
  text-decoration: none;
}
